* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 20px;
    padding: 10px 0;
}
 ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
 }
li {
    font-size: 18px;
}
 li:not(:last-child ) {
    margin-bottom: 20px;
}